<template>
  <div>
    welcome to reservation service
    <div v-if="this.userData == 1">
      <hotelList />
      <reservationList />
    </div>
    <div v-else>
      <hotelMaster />
    </div>
    <businessError />
  </div>
</template>

<script>
import hotelList from "@/page/service/reservation/hotelList";
import reservationList from "@/page/service/customer/reservationList";
import hotelMaster from "@/page/service/hotelMaster/hotelMaster";
import businessError from "@/components/error/businessError";

import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters("userState", ["userData"]),
  },

  components: {
    hotelList,
    reservationList,
    businessError,
    hotelMaster,
  },
};
</script>

<style >
</style>