<template>
  <div>
    <input
      type="text"
      placeholder="id"
      name="username"
      :value="this.formData.username"
      @input="input"
    />
    <input
      type="password"
      placeholder="password"
      name="password"
      :value="this.formData.password"
      @input="input"
    />
    <input type="button" value="login" @click="buttonSubmit" />

    <router-link :to="{ name: 'SignUp' }">signUp</router-link>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      formData: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    ...mapActions("authState", ["login"]),
    input(event) {
      this.formData[event.target.name] = event.target.value;
    },
    buttonSubmit() {
      console.log(this.formData);
      this.login(this.formData);
    },
  },
};
</script>

<style>
</style>