<template>
  <div>
    <form @submit.prevent="onSubmit">
      <div>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="id"
          @input="onChange"
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          @input="onChange"
        />
      </div>
      <div>
        <input
          type="password"
          id="passwordcheck"
          name="passwordcheck"
          placeholder="passwordcheck"
          @input="onChange"
        />
      </div>
      <div>
        authority
        <select name="authorityId"
        @input="onChange">
          <option name="user" value="1">user</option>
          <option name="hotelAdmin" value="2">hotelAdmin</option>
        </select>
      </div>
      <div>
        <input type="submit" value="submit" />
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "signUp",
  namespaced: true,
  data() {
    return {
      formData: {
        username: "",
        password: "",
        passwordcheck: "",
        authorityId: "",
      },
    };
  },
  methods: {
    ...mapActions("authState", ["signUp"]),

    onChange(event) {
      this.formData[event.target.name] = event.target.value;
      console.log(this.formData);
    },

    onSubmit() {
      if (this.formData.password != this.formData.passwordcheck) {
        return null;
      }
      this.signUp(this.formData);
    },
  },
};
</script>

<style>
</style>