<template>
  <div @click="hotelDetail">
    {{ this.hotelName }}
    {{ this.location }}
    {{ this.homepage }}
    {{ this.description }}
  </div>
</template>

<script>
export default {
  props: {
    hotelId: null,
    hotelName: null,
    location: null,
    homepage: null,
    description: null,
  },
  methods: {
    hotelDetail() {
      this.$router.push({
        name: "Hotel",
        params: { hotelId: this.hotelId },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
