<template>
  <div>
    <div v-if="this.selectReservationHotelRooms != null">
      <div
        v-for="selectReservationHotelRoom in this.selectReservationHotelRooms"
        v-bind:key="selectReservationHotelRoom.hotelRoomId"
      >
        {{ selectReservationHotelRoom }}
        <input
          type="button"
          value="reservation this date"
          @click="
            reservationThisRoomComponent(selectReservationHotelRoom.hotelRoomId)
          "
        />
      </div>
      <!-- {{ this.selectReservationHotelRooms }} -->
    </div>
    <div v-else>abcd</div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    isChangeMode: Boolean,
    reservationId: Number,

  },

  mounted() {
    this.reservationSelectDelete();
  },
  beforeDestroy() {
    this.reservationSelectDelete();
  },
  computed: {
    ...mapGetters("reservationState", [
      "selectReservationHotelRooms",
    ]),
  },
  methods: {
    ...mapActions("reservationState", [
      "reservationSelectDelete",
      "reservationThisRoom",
      "changeMyReservation",
    ]),
    reservationThisRoomComponent(key) {
      console.log("this is change mode");
      console.log(this.isChangeMode);
      console.log(this.reservationId);
      if (this.isChangeMode == true) {
        this.reservationThisRoom(key);
      } else if (
        this.reservationId == null ||
        this.reservationId == undefined
      ) {
        return null;
      } else {
        this.changeMyReservation(this.reservationId);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>