<template>
  <div>hotelList
    <div v-for="hotel in listOrderby" :key="hotel.hotelId">
      <Hotel 
        :hotelId="hotel.hotelId"
        :hotelName="hotel.hotelName"
        :location="hotel.location"
        :homepage="hotel.homepage"
        :description="hotel.description"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Hotel from "@/components/hotel/hotel";

export default {
  components:{
    Hotel,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters("reservationState",["hotels"]),
    listOrderby(){
      return this.hotels;
    }
  },
  methods: {
    ...mapActions("reservationState", ["getHotelList"]),
  },
  mounted() {
    this.getHotelList();
  },
};
</script>

<style lang="scss" scoped>
</style>