<template>
  <div>
    hotel
    {{ this.hotel }}
    <div v-if="this.isLoggedIn">
      loggedin now
      <input
        type="button"
        value="reservation this hotel"
        @click="reservation()"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters("reservationState", ["hotel"]),
    ...mapGetters("authState", ["isLoggedIn"]),
  },
  methods: {
    ...mapActions("reservationState", ["getOneHotel"]),
    reservation() {
      this.$router.push({
        name: "reservationHotel",
        params: {hotelId: this.$route.params.hotelId},
      })
    },
  },
  mounted() {
    this.getOneHotel(this.$route.params.hotelId);
  },
};
</script>

<style lang="scss" scoped>
</style>
