<template>
  <div>
    reservationPage
    <div @click="dateClick()">
      <v-date-picker v-model="dates" range />
    </div>

    {{ this.dates }}
    <div>
      <input
        type="button"
        value="reservation thisDate"
        @click="reservationSelectPage()"
      />
      {{ this.$route.params.hotelId }}
      <ReservationSelectResult v-bind:isChangeMode="true" />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ReservationSelectResult from "@/components/hotel/reservationSelectResult";

export default {
  components: {
    ReservationSelectResult,
  },
  data: () => ({
    dates: [],
  }),
  methods: {
    ...mapActions("reservationState", [
      "reservationSelect",
      "reservationSelectDelete",
    ]),

    reservationSelectPage() {
      this.dates.sort();
      var today = new Date();
      var day = today.getDate();
      var month = today.getMonth() + 1; //Month is 0-based for some reason
      var year = today.getFullYear();
      var datenow = year + "-" + month + "-" + day;

      const dateCompare = [new Date(this.dates[0]), new Date(datenow)];
      console.log(dateCompare);
      if (dateCompare[0] <= dateCompare[1]) {
        console.log(false);
      }
      const reservationSelectForm = {
        reservationStart: this.dates[0],
        reservationEnd: this.dates[1],
        hotelId: this.$route.params.hotelId,
      };
      this.reservationSelect(reservationSelectForm);
    },
    dateClick() {
      if (this.dates.length <= 2) {
        console.log(this.dateClickCount);
        this.reservationSelectDelete();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>