<template>
  <div>
    <div v-if="this.businessError != null">
      {{ this.businessError }}
      <input type="button" value="x" @click="deleteMessage()" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters("errorState", ["businessError"]),
  },
  methods: {
    ...mapActions("errorState", ["businessErrorDelete"]),
    deleteMessage() {
      this.businessErrorDelete();
    },
  },
};
</script>
