<template>
  <div>
    {{ this.userData }}
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters("authState", ["userData"]),
  },
};
</script>

<style>
</style>