<template>
  <div>
    myReservation
    <div>
      {{ this.reservationId }}
    </div>
    <div>
      {{ this.hotel }}
    </div>
    <div>
      <input
        type="button"
        value="change reservation"
        @click="changeReservation"
      />
    </div>
    <div v-if="this.changeConfig">
      {{ this.changeConfig }}
      <v-date-picker v-model="dates" range />
      <input
        type="button"
        value="change thisDate"
        @click="reservationSelectPage()"
      />
      <ReservationSelectResult
        v-bind:isChangeMode="false" 
        v-bind:reservationId=parseInt(this.reservationId)
       />
    </div>
    <div>
      <input
        type="button"
        value="cancel reservation"
        @click="cancelReservation"
      />
    </div>
    <BusinessError />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import BusinessError from "@/components/error/businessError";
import ReservationSelectResult from "@/components/hotel/reservationSelectResult";

export default {
  components: {
    BusinessError,
    ReservationSelectResult,
  },
  data() {
    return {
      dates: [],
      changeConfig: false,
      reservationId: this.$route.params.reservationId,
    };
  },
  computed: {
    ...mapGetters("reservationState", ["hotel"]),
  },
  methods: {
    ...mapActions("reservationState", [
      "myReservationHotel",
      "deleteMyReservation",
      "reservationSelect",
    ]),
    changeReservation() {
      if (this.changeConfig == false) {
        this.changeConfig = true;
      } else {
        this.changeConfig = false;
      }
      console.log(this.changeConfig);
    },
    reservationSelectPage() {
      if (this.changeConfig == false) {
        return;
      }

      this.dates.sort();
      var today = new Date();
      var day = today.getDate();
      var month = today.getMonth() + 1; //Month is 0-based for some reason
      var year = today.getFullYear();
      var datenow = year + "-" + month + "-" + day;

      const dateCompare = [new Date(this.dates[0]), new Date(datenow)];
      console.log(dateCompare);
      if (dateCompare[0] <= dateCompare[1]) {
        console.log(false);
      }
      const reservationSelectForm = {
        reservationStart: this.dates[0],
        reservationEnd: this.dates[1],
        hotelId: this.hotel.hotelId,
      };
      this.reservationSelect(reservationSelectForm);
    },

    cancelReservation() {
      this.deleteMyReservation(this.reservationId);
    },
  },
  mounted() {
    this.myReservationHotel(this.reservationId);
  },
};
</script>

<style lang="scss" scoped>
</style>