<template>
  <div v-if="this.isLoggedIn">
    <div>My reservation List</div>
    <div
      v-for="myReservationHotel in this.myReservationHotelListState"
      v-bind:key="myReservationHotel.reservationId"
    >
      <div @click="findMyReservation(myReservationHotel.reservationId)">
        {{ myReservationHotel }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters("authState", ["isLoggedIn"]),
    ...mapGetters("reservationState", ["myReservationHotelListState"]),
  },
  methods: {
    ...mapActions("reservationState", ["myReservationHotelList"]),
    findMyReservation(reservationId) {
      console.log(reservationId);
      this.$router.push({
        name: "myReservation",
        params: { reservationId },
      });
    },
  },
  mounted() {
    this.myReservationHotelList();
  },
};
</script>

<style lang="scss" scoped>
</style>