<template>
  <div>
    <ul>
      <li><router-link to="/">Home</router-link></li>

      <li>
        <div v-if="isLoggedIn == false || isLoggedIn == null">
          <router-link to="/login">Login</router-link>
        </div>
        <div v-else>
          <a @click="logoutClick">logout</a>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters("authState", ["isLoggedIn"]),
  },
  methods: {
    ...mapActions("authState", ["logout"]),
    logoutClick() {
      this.logout();
    },
  },
};
</script>
<style >
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>